<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Item 수정하기</title>
</head>
<body>
<h1>Item 수정하기</h1>
<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="post">
  <div>
    <label for="name">이름:</label>
    <input type="text" id="name" name="name" th:value="${item.name}" required />
  </div>
  <div>
    <label for="content">내용:</label>
    <textarea id="content" name="content" required th:text="${item.content}"></textarea>
  </div>
  <div>
    <button type="submit">수정</button>
    <button type="button" th:onclick="|location.href='@{/items}'|">목록</button>
  </div>
</form>
</body>
</html>
